<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Привет! Ты на главной странице</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
</head>
<body>  
    <div class="conteiner">
      <header class="header">
        <div class="in_header_user">
           <div class="in_header_logo">
              <img th:src="@{/img/logomini.png}" class="logo">
              <!-- <img src="../../static/img/logomini.png" class="logo"> -->
           </div>
           <div class="in_header_title">
              
           </div>
           <div class="in_header_user__btn"> 
                <button type="button" th:onclick="|window.location.href='/orders'|" class="btn_history">HISTORY</button>          
                <button type="button" th:onclick="|window.location.href='/cart'|" class="btn_history">CART</button>
                <button type="button" th:onclick="|window.location.href='/authentication/logout'|" class="btn_history">LOG OUT</button>
           </div>            
        </div>
             
      </header>
      <div class="out_header">
          <img th:src="@{/img/photo.jpg}" class="logo_main">        
          <!-- <img src="../../static/img/photo.jpg" class="logo_main"> -->
      </div>   
      <div class="body">
        <div class="body_conteiner_text">
          <span></span>
          <p class="body_text">Fusce rhoncus et odio nec finibus. Duis consequat sem sem, nec mollis leo semper finibus.
             Aenean tristique dui nec ornare porttitor. Nunc libero nibh, feugiat nec varius vitae,
             interdum vel enim. Curabitur eu lorem a justo imperdiet semper. In hac habitasse platea dictumst.
             Donec mauris nisl, volutpat in dolor ac, sollicitudin posuere leo. Morbi fermentum imperdiet porttitor.
              Proin nec egestas tellus. Duis pellentesque augue ac mattis vulputate.
          </p>
          <span></span>
        </div>
      </div>
      <div class="price_conteiner">
        <span></span>
        <div class="price_in_conteiner">
            <p th:text="'Итоговая цена: ' + ${price}"></p>
            <div class="btn_checkout">
               <a class="tag_a_checkout" th:href="@{/order/create}">CHECKOUT</a>    
            </div>
            <div class="btn_checkout">
                <a class="tag_a_checkout" th:href="@{/index}">BACK</a>    
            </div>                       
        </div>
        <span></span>
      </div>
      <div class="body_user">        
        <span></span>
        <div class="product_section_cart">
            <div class="product_card">
                <div th:each="product : ${cart_product}" class="product">
                <p th:text="${product.getTitle()}"></p>    
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="240px">
                <br>
                <p th:text="'Цена: ' + ${product.getPrice()}"></p> 
                <div class="btn_delete">
                    <a class="tag_a_delete" th:href="@{/product/infouser/{id}(id=${product.getId()})}">INFO</a>
                </div>
                <div class="btn_delete">
                <a class="tag_a_delete" th:href="@{/cart/delete/{id}(id=${product.getId()})}">DELETE</a>    
                </div>  
            </div>
       
        </div>    
        </div>               
        <span></span>  
      </div>


      <footer class="footer">
        <div class="in_footer">
      
        </div>
      </footer>          
    </div>    

</body>
</html>


